
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
    background-color: #8f0306f8;
    font-family: Quicksand;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #101110;
    color: white;
    font-family: Quicksand;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}